.center  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
	border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav {
    position: center;
    left: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

p, h1, h2, h5, nav, a, li, div.desc, sizeButtons, img {
	font-family: "Verdana", sans-serif;
}

h1 {
  text-align:center;
  font-size:2em;
}

h2 {
  text-align:center;
  font-size:1.25em;
}

h5 {
  text-align:center;
  font-size:12px;
}

html, body {
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
}




#outerloginbox {
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 20%;
  background-color: #ca1a2a;
  width: 30%;
  height: 70%;
  border-radius: 0%;
  box-shadow: 10px 10px 10px grey;
<<<<<<< HEAD
=======
>>>>>>> fe987769fc423ec7191bcf7ecc5c5b0dfa529817
}

#innerloginbox {
  /* display: inline-block; */
margin: 25% auto;
  width: 80%;
  background-color: blue;
  /* text-align: center; */
  height: 50%;

}

.inputform {
/* display: inline-block; */
/* margin: 20px auto; */
height: 40px;
width: 90%;
margin: 10% auto;
padding: 0;
border-style: none;
text-align: center;
}

#logintext {
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
  color: white;
}

footer {
margin: 0;
width: 100%;
font-size: 12px;
text-align: center;
}

#loginbutton {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

#purchasebutton {
  background-color: #77DD77;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}

#purchasebutton:hover {
  background-color: #65BF65;
  margin: 0 auto;
  cursor: pointer;
}

#loginbutton:hover {
  background-color: darkgrey;
  margin: 0 auto;
  cursor: pointer;
}

#forgotbutton {
  padding: 0px;
  text-align: center;
}

.openInfo {
	text-align: center;
	font-size: 24px;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.sizeradio {

}

.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 10px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ff6961;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	background: white;
}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 300px;
    white-space:nowrap;

}
.imageDiv img {
    box-shadow: 1px 1px 10px #999;
    margin: 2px;
    max-height: 400px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
 }

 #formproduct {
float: right;
width: 50%;
height: 50%;
 }

 #previewimage {
margin-left: 10%;
   float: left;
   width: 50%;
   height: 50%;
 }

 .wrapper {
 }

.test {
  width: 100%;
}
